1 histogram, 1 box plot, 1 bullet chart, and 1 additional chart of your choice (can be an existing chart type we’ve already done, but it must be done in a new way or it can be an entirely new chart type) using Python

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# from mpl_toolkits.basemap import Basemap

In [3]:
import os

data_path = "C:\\Users\\saman\\git_repos\\dsc640-data_presentation\\data\\ex6.2"
# print(data_path)
counter = 0 # keep a count of all the files found
csvfiles = [] # list to store all csv files
otherfiles = [] # list to store all other files

# os.listdir(data_path)

for file in os.listdir(data_path):
	# print(file)
	try:
		if file.endswith(".csv"):
			print("csv file found:\t", file)
			csvfiles.append(str(file))
			counter = counter+1
		else:
			print("other file found:\t", file)
			otherfiles.append(file)
			counter = counter+1
	except Exception as e:
		raise e
		print("No files found here!")

print("Total files found:\t", counter)

csv file found:	 birth-rate.csv
csv file found:	 crimeratesbystate-formatted.csv
csv file found:	 education.csv
other file found:	 tabn084.xls
other file found:	 tabn106.xls
other file found:	 tabn146.xls
Total files found:	 6

In [4]:
csvfiles

['birth-rate.csv', 'crimeratesbystate-formatted.csv', 'education.csv']

In [5]:
otherfiles

['tabn084.xls', 'tabn106.xls', 'tabn146.xls']

In [6]:
file_path = f"{data_path}\\{csvfiles[0]}"
# print(file_path)
birth_rate = pd.read_csv(file_path, sep=',', header=0)
birth_rate.head()

,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
0,Aruba,36.400,35.179,33.863,32.459,30.994,29.513,28.069,26.721,25.518,...,15.024,14.528,14.041,13.579,13.153,12.772,12.441,12.159,11.919,11.716
1,Afghanistan,52.201,52.206,52.208,52.204,52.192,52.168,52.130,52.076,52.006,...,51.229,50.903,50.486,49.984,49.416,48.803,48.177,47.575,47.023,46.538
2,Angola,54.432,54.394,54.317,54.199,54.040,53.836,53.585,53.296,52.984,...,48.662,48.355,48.005,47.545,46.936,46.184,45.330,44.444,43.607,42.875
3,Albania,40.886,40.312,39.604,38.792,37.913,37.008,36.112,35.245,34.421,...,17.713,16.850,16.081,15.444,14.962,14.644,14.485,14.464,14.534,14.649
4,Netherlands Antilles,32.321,30.987,29.618,28.229,26.849,25.518,24.280,23.173,22.230,...,15.809,15.412,15.096,14.824,14.565,14.309,14.051,13.790,13.532,13.281

In [10]:
file_path = f"{data_path}\\{csvfiles[1]}"
# print(file_path)
crimeratesbystate = pd.read_csv(file_path, sep=',', header=0)
crimeratesbystate.head()

,state,murder,forcible_rape,robbery,aggravated_assault,burglary,larceny_theft,motor_vehicle_theft
0,United States,5.6,31.7,140.7,291.1,726.7,2286.3,416.7
1,Alabama,8.2,34.3,141.4,247.8,953.8,2650.0,288.3
2,Alaska,4.8,81.1,80.9,465.1,622.5,2599.1,391.0
3,Arizona,7.5,33.8,144.4,327.4,948.4,2965.2,924.4
4,Arkansas,6.7,42.9,91.1,386.8,1084.6,2711.2,262.1

In [11]:
file_path = f"{data_path}\\{csvfiles[2]}"
# print(file_path)
education = pd.read_csv(file_path, sep=',', header=0)
education.head()

,state,reading,math,writing,percent_graduates_sat,pupil_staff_ratio,dropout_rate
0,United States,501,515,493,46,7.9,4.4
1,Alabama,557,552,549,7,6.7,2.3
2,Alaska,520,516,492,46,7.9,7.3
3,Arizona,516,521,497,26,10.4,7.6
4,Arkansas,572,572,556,5,6.8,4.6